    * {
        margin: 0;
        padding: 0;
        font-size: 100%;
        /*border: none;    font-family: 'Pridi', serif;*/
        outline: none;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }
    
    a {
        text-decoration: none;
    }
    
    ul {
        list-style: none;
    }
    
    img {
        max-width: 100%;
    }
    /* HEADER */
    
    .headerDesktop {
        width: 100%;
        height: 96px;
        background-color: rgb(245, 239, 215);
    }
    
    #logo {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 5px;
        margin-top: 0px;
        width: 96px;
        height: 90px;
        float: left;
    }
    
    .menu ul {
        padding: 3% 4%;
    }
    
    .menu ul li {
        color: rgb(0, 0, 0);
        font-weight: normal;
        margin-top: 0.5px;
        margin-left: 0.5px;
        padding: 0 10px 0 10px;
        float: right;
    }
    
    .menu ul li a:hover {
        color: rgb(125, 158, 63);
    }
    /* SLIDER/PESQUISA */
    
    .slider {
        margin-left: auto;
        margin-bottom: auto;
        margin-right: auto;
        margin-top: 10px;
        width: auto;
        height: 300px;
        position: relative;
        overflow: hidden;
    }
    
    .sliderImage {
        position: absolute;
        opacity: 0;
        animation-name: animacao;
        animation-duration: 8s;
        animation-iteration-count: infinite;
    }
    
    @keyframes animacao {
        25% {
            opacity: 60%;
            transform: scale(1.1, 1.1);
        }
        50% {
            opacity: 35%;
        }
    }
    
    .sliderImage:nth-child(1) {
        animation-delay: 0s;
    }
    
    .sliderImage:nth-child(2) {
        animation-delay: 5s;
    }
    
    .sliderImage:nth-child(3) {
        animation-delay: 8s;
    }
    
    .slogan {
        font-size: 30px;
        font-weight: 900;
        text-align: center;
        margin-top: 120px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
    
    .divBusca {
        margin-left: auto;
        margin-bottom: auto;
        margin-right: auto;
        background-color: #ffffff;
        border: solid 2px rgb(125, 158, 63);
        border-radius: 7px 7px 7px 7px;
        width: 470px;
        height: 42px;
        position: relative;
    }
    
    #search {
        margin: 6px;
        width: 22px;
        height: 22px;
        float: left;
    }
    
    .txtBusca {
        float: left;
        background-color: transparent;
        padding-left: 5px;
        font-size: 21px;
        border: none;
        height: 32px;
        width: 191px;
    }
    /* PROPAGANDAS */
    
    .conjuntoDePropaganda {
        margin-left: 90px;
        margin-right: 90px;
        margin-top: 10px;
        /* background-color: rgb(231, 0, 0); */
    }
    
    .conjuntoDePropaganda h2 {
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        color: #000000;
        margin-left: 0.5%;
        margin-right: 0.5%;
        padding: 0px 10px 0px 10px;
        /* background-color: rgb(0, 231, 212); */
    }
    
    .propaganda ul {
        margin-left: 0.5%;
        margin-right: 0.5%;
        /* background-color: lightcoral; */
    }
    
    .propaganda ul li {
        display: inline-table;
        margin-left: 0.5%;
        margin-right: 0.5%;
        /* background-color: rgb(128, 148, 240); */
    }
    
    .images {
        padding: 10px 5px 0px 5px;
        width: 369px;
        height: 240px;
        /* background-color: rgb(154, 240, 128); */
    }
    
    .propaganda ul li a div {
        padding: 0px 5px 5px 5px;
        width: auto;
        /* background-color: rgb(235, 196, 23); */
    }
    
    .textPropaganda h3 {
        font-size: 18px;
        font-weight: normal;
        color: #000000;
    }
    
    .textPropaganda h4 {
        font-size: 13px;
        font-weight: normal;
        color: #000000;
    }
    
    .textPropaganda h3:visited {
        color: #000000;
    }
    
    .textPropaganda h4:visited {
        color: #000000;
    }
    
    .textPropaganda h3:hover {
        color: rgb(125, 158, 63);
    }
    
    .textPropaganda h4:hover {
        color: rgb(125, 158, 63);
    }
    
    .footer {
        background-color: rgb(125, 158, 63);
        width: 100%;
        height: 128px;
    }
    
    #footerImage img {
        border-radius: 50px;
        padding: 10px 10px 10px 10px;
        width: 128px;
        height: 128px;
        float: left;
    }
    
    .footer ul {
        padding: 3% 4%;
    }
    
    .footer ul li {
        color: rgb(0, 0, 0);
        font-weight: normal;
        font-size: 20px;
        margin-top: 0.5px;
        margin-left: 0.5px;
        padding: 0 10px 0 10px;
        float: right;
    }
    
    .footer ul li a:hover {
        color: rgb(255, 255, 255);
    }
    
    .footer ul li a:visited {
        color: #000000;
    }
    /*
.footer #footerItens {
    float: right;
    padding: 2px 0px 2px 0px;
    flex-direction: column;
    background-color: lime;
    position: relative;
    float: right;
}

.footer #footerItens a {
    color: rgb(0, 0, 0);
    font-weight: normal;
    margin-top: 0.5px;
    margin-left: 0.5px;
    padding: 0 10px 0 10px;
}
}*/
    
    .espaco {
        margin: 500px;
    }